*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
*.ipr
.project
.strong-pm
coverage
node_modules
npm-debug.log
dump.rdb
newrelic_agent.log
package-lock.json
.factorypath
.classpath
.settings
src/main
src/test
bin
target
build
out
*.code-workspace
test-output
